
@import "./base/typography";
@import "./themes/theme";

@import "./components/sidebar";
@import "./components/vertical_tabs";
@import "./components/reveal";
@import "./components/easymde";
@import "./components/annotorious";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "../webfonts"; // or wherever you serve them from
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "../../node_modules/highlight.js/styles/default";

html {
  scroll-padding-top: $spacer * 4;
}

body > nav > .container {
  position: relative;
}

.scroll-indicator {
  position: absolute;
  padding-top: 5px;
  bottom: -3px;
  left: 0;
  height: $scroll-indicator-height;
  background-color: $scroll-indicator-color;
  z-index: $scroll-indicator-z-index;
}

.secured {
  @extend .d-none;
}

#userMenu.dropdown-toggle::after {
  display: inline;
  position: absolute;
  bottom: -6px;
  margin-left: 0;
  left: 20px;
}

ul,
ol {
  list-style-position: inside !important;
}

#main-container nav .row {
  margin-left: 0;
  margin-right: 0;
}

.img-drawing {
  fill: var(--bs-emphasis-color);
}

.dropdown button:hover {
  color: var(--bs-primary);
}

.dropdown-menu .dropdown-item:hover,
.list-group-item:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

label {
  user-select: none;
}

.svg-container {
  max-width: 50%;
}

.list-group-item > a:hover,
.list-group-item:hover > a {
  color: var(--bs-body-bg);
}

button > svg {
  fill: var(--bs-emphasis-color);
}

// Highlight.js copy button theming for dark/light mode
.hljs-copy-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  padding: 2px 8px;
  font-size: 1em;
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--bs-emphasis-color);
  transition: background 0.2s, color 0.2s;
}

.hljs-copy-btn:hover, .hljs-copy-btn:focus {
  background: var(--bs-secondary-bg);
   color: var(--bs-warning);
}

[data-bs-theme="dark"] .hljs-copy-btn {
  color: var(--bs-gray-900);
}

[data-bs-theme="dark"] .hljs-copy-btn:hover, [data-bs-theme="dark"] .hljs-copy-btn:focus {
  background: var(--bs-secondary-bg);
  color: var(--bs-warning);
}
